@section Styles {
    <link href="~/js/dropzone.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/js/dropzone.js"></script>
    <script>

        // $('div')
        // # - ID
        // . - Class, multiple
        // div#poo.hello <div id="poo" class="hello"></div>
        // <hr class="red" />
        // $('.red')
        $('#my-awesome-dropzone').dropzone({ url: "/api/file/TestFile2" });

    </script>
}

<div class="jumbotron">
    <h1>File Upload Demos</h1>
    <p class="lead">These demos are used for demonstrating file upload.</p>
    <p><a href="http://github.com/garrettwong/FileUpload" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>File Upload via MVC Controller</h2>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>File Upload via ApiController</h2>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dropzone.js</h2>

        <p>
            <a href="http://www.dropzonejs.com/#installation" 
               target="_blank">http://www.dropzonejs.com/#installation</a>
            Dropzone.js
        </p>
        
        <form action="~/api/File/TestFile"
              class="dropzone"
              id="my-awesome-dropzone"></form>
    </div>
</div>
